@using MvcEFApp.Models
@model IndexViewModel

<style>
    td, th {
        padding: 0 13px 0 0;
    }

    .glyphicon {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 5px;
    }

    .glyphicon-chevron-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .glyphicon-chevron-up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .glyphicon-chevron-prev:before {
        content: "\00AB";
    }

    .glyphicon-chevron-next:after {
        content: "\00BB";
    }
</style>

<form method="get">
    <p>
        <label asp-for="@Model.FilterViewModel.SelectedName">Name</label>
        <input asp-for="@Model.FilterViewModel.SelectedName" name="name" />
    </p>

    <p>
        <label asp-for="@Model.FilterViewModel.Companies">Companies</label>
        <select asp-items="@Model.FilterViewModel.Companies" name="companyId"></select>
    </p>
    <input type="submit" value="Select" />
</form>

<h3>Emploees list:</h3>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index" 
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-companyid="@(Model.FilterViewModel.SelectedCompany)">Name</a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.BirthDateSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-companyid="@(Model.FilterViewModel.SelectedCompany)">Birth Date</a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-companyid="@(Model.FilterViewModel.SelectedCompany)">Company</a>
        </th>
        <th></th>
        <th></th>

    </tr>
    @foreach (var empl in Model.Employees)
    {
        <tr>
            <td>@empl.Name</td>
            <td>@empl.BirthDate</td>
            <td>@empl.Company?.Title</td>
            <td>
                <a asp-controller="Home"
               asp-action="Edit"
               asp-route-id="@empl.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home"
                  asp-action="Delete"
                  asp-route-id="@empl.Id">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    }
</table>

@if (Model.PageViewModel.HasPrevPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageCurrent - 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-companyid="@(Model.FilterViewModel.SelectedCompany)"
       class="glyphicon-chevron-prev">
       Prev
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageCurrent + 1)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-companyid="@(Model.FilterViewModel.SelectedCompany)"
       class="glyphicon-chevron-next">
       Next
    </a>
}