@using MvcEFApp.Models;
@model IndexViewModel;
@addTagHelper *, MvcEFApp


@{
    ViewData["Title"] = "Home Page";
}

<style>
    td, th {padding: 0 13px 0 0;}
 
    .glyphicon{
        border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin: 0 5px;
    }
    .glyphicon-chevron-down {
        transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  
    .glyphicon-chevron-up {
        transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
</style>

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<h2>
    <a asp-action="UserAdd">Add Eployee</a>
</h2>

<h3>Emploees list:</h3>

<table class="table">
    <tr>
        <th>
            <sort-header action="Index" 
                         up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current"
                         property="@Model.SortViewModel.NameSort">
                Name         
            </sort-header>
            @*<a asp-action="Index" asp-route-sortProp="@ViewBag.NameSort">Name</a>*@
        </th>
        <th>
            <sort-header action="Index"
                         up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current"
                         property="@Model.SortViewModel.BirthDateSort">
                Birth Date
            </sort-header>
            @*<a asp-action="Index" asp-route-sortProp="@ViewBag.BirthDateSort">Birth Date</a>*@
        </th>
        <th>
            <sort-header action="Index"
                         up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current"
                         property="@Model.SortViewModel.CompanySort">
                Company
            </sort-header>
            @*<a asp-action="Index" asp-route-sortProp="@ViewBag.CompanySort">Company</a>*@
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var empl in Model.Employees)
    {
        <tr>
            <td>@empl.Name</td>
            <td>@empl.BirthDate</td>
            <td>@empl.Company?.Title</td>
            <td>
                <a asp-controller="Home"
                    asp-action="Edit"
                    asp-route-id="@empl.Id">Edit</a>
            </td>
            <td>
                @*
                <a asp-controller="Home"
                    asp-action="Delete"
                    asp-route-id="@empl.Id">Delete</a>
                *@
                <form asp-controller="Home"
                    asp-action="Delete"
                    asp-route-id="@empl.Id">
                    <input type="submit" value="Delete">
                </form>
            </td>

        </tr>
    }
</table>
