@using MvcEFApp.Models
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<h2>
    <a asp-action="UserAdd">Add Eployee</a>
</h2>

<h3>Emploees list:</h3>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortProp="@ViewBag.NameSort">Name</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortProp="@ViewBag.BirthDateSort">Birth Date</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortProp="@ViewBag.CompanySort">Company</a>
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var empl in Model)
    {
        <tr>
            <td>@empl.Name</td>
            <td>@empl.BirthDate</td>
            <td>@empl.Company?.Title</td>
            <td>
                <a asp-controller="Home"
                    asp-action="Edit"
                    asp-route-id="@empl.Id">Edit</a>
            </td>
            <td>
                @*
                <a asp-controller="Home"
                    asp-action="Delete"
                    asp-route-id="@empl.Id">Delete</a>
                *@
                <form asp-controller="Home"
                    asp-action="Delete"
                    asp-route-id="@empl.Id">
                    <input type="submit" value="Delete">
                </form>
            </td>

        </tr>
    }
</table>
